.header {

	&__nav {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4rem;

		@include breakpoint-up(medium) {
			margin-bottom: 7.5rem;
		}
	}

	&__logo {
		img {
			height: 1.5rem;
			width: 1.5rem;
		}
	}

	&__menu {
		position: absolute;
		top: 6.25rem;
		width: calc(100% - 4rem);
		left: 50%;
		transform: translateX(-50%);
		background-color: $white;
		padding: 1.75rem 1.375rem;
		text-align: center;
		border-radius: 3px;
		-webkit-box-shadow: 1px 2px 6px 3px #000000; 
		box-shadow: 1px 2px 6px 3px #000000;
		z-index: 1;

		a {
			display: block;
			color: $veryDarkBlue;
		}
		a:not(:last-child){
			margin-bottom: 1.875rem;
		}

		hr {
			margin-top: 0;
			margin-bottom: 1.875rem;
		}
	}

	&__links {
		@include breakpoint-up(medium) {
			display: flex;
			align-items: center;
		}

		a {
			font-size: 1rem;
			color: $veryDarkBlue;
		}

		a:not(:last-child), .circle {
			margin-right: 2.625rem;
		}

		a:last-child {
			color: $grayishBlue;
		}

		.circle {
			background-color: $grayishBlue;
			width: 0.4375rem;
			height: 0.4375rem;
			border-radius: 50%;
		}
	}

}