main {

	@include breakpoint-up(medium){
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.graphic::before {
		content: '';
		position: absolute;
		background-color: $lightGrayishBlue;
		height: 26.5rem;
		// change width to % of view width
		width: 11.75rem;
		top: 0;
		// left: 11.75rem;
		right: 0;
		z-index: -1;
		border-bottom-left-radius: 59px;

		@include breakpoint-up(medium) {
			height: 26.625rem;
			width: 37.063rem; 
		}
	}

	.graphic {
		margin-bottom: 5.5rem;
		
		@include breakpoint-up(medium) {
			width: 30vw;
			height: 70vh;
			order: 2;
		}
		
		img {
			height: 14.9375rem;
			// position: absolute;
			position: relative;
			left: -2.25rem;
			z-index: 0;
			@include breakpoint-up(medium) {
				height: 28.4375rem;
				// left: 37.25rem; 
				// top: 5rem;
			}
		}
	}

	.hero {
		display: flex;
		flex-direction: column;

		&__headline {
			display: flex;
			align-items: center;

			.tag {
				color: $white;
				background-color: $veryDarkBlue;
				font-size: 1rem;
				padding:  0.4rem 1.0125rem;
				border-radius: 500px;
				margin-right: 1rem;
			}

			p {
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 2.84px;
			}
		}

		h1 {
			text-transform: uppercase;
			font-size: 2.4375rem;
			line-height: 1;
			margin-bottom: 1.625rem;

			@include breakpoint-up(medium) {
				font-size: 4.0625rem;
			}
		}

		&__body {
			margin-top: 0;
			font-family: 'Barlow', sans-serif;
			font-weight: 400;
			color: $darkGrayishBlue;
			margin-bottom: 2rem;

			@include breakpoint-up(medium){
				width: 16.6875rem;
			}
		}

		&__cta {
			display: flex;

			button {
				background-color: $red;
				color: $white;
				border: none;
				border-radius: 6px;
				text-transform: uppercase;
				font-weight: 700;
				padding: 0.75rem 0.75rem;
				margin-right: 1.25rem;
				transition: opacity 250ms ease-in-out;
			}

			button:hover {
				cursor: pointer;
				opacity: 0.75;
			}

			p {
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 136;
			}
		}
	}
}